:root {
    --main-color: #1dc6df;
    --main-hover-color: #00a8c1;
    --border-color: #d1dbe0;
}
.margin-0 { margin: 0 }
.w-25 { width: 25% }

.select-block-container {
    display: flex;
    justify-content: space-evenly;
}
.select-block {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    text-align: center;
}
.block-name {
    margin-bottom: 12px;
}
.block-btn-container {
    margin-top: 12px;
    width: 100%;
}
.btn-ink {
    background: var(--main-color);
    border-color: var(--main-color);
    border-radius: 25px;
    font-weight: 600;
    font-size: 18px;
}
.btn-full {
    width: 100%;
}
.btn-ink:hover,
.btn-ink:visited,
.btn-ink:focus {
    background: var(--main-hover-color);
    border-color: var(--main-hover-color);
}

.select-price {
    display: none;
}
.title-price {
    vertical-align: top;
    padding: 24px !important;
    height: 350px;
}
.title-price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}
.price {
    margin-top: auto;;
}
.price-desc {
    font-weight: normal;
}
.unit-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.benefit {
    margin: 16px 0;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    width: 100%;
    font-size: 18px;
    padding: 12px 0;
}
.benefit.benefit-student {
    background: #fdedb7;
}
.benefit.benefit-popular {
    background: #a7dfed;
}
.benefit.benefit-budget {
    background: #c8bfe7;
}

.total-container {
    max-width: 300px;
    margin-left: auto;
    border: 2px solid var(--border-color);
    padding: 16px;
    margin-top: 16px;
}
.total-title {
    text-align: center;
}
.total-price {
    text-align: center;
    color: var(--main-color);
}
.est-delivery {
    font-size: 14px;
    text-align: center;
}
.total-line {
    display: flex;
    align-items: baseline;
}
.spacing {
    flex-grow: 1;
    border-bottom: 1px dotted #373737;
}
.total-line-label,
.total-line-price {
    margin-bottom: 0;
}
.order-come,
.payment-accept {
    margin-top: 16px;
}
.order-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}
.order-brand img {
    width: 120px;
}
.payment-accept img {
    width: 100%;
}
.total-label {
    margin-bottom: 0;
}

.ink-tab-content {
    display: flex;
    align-items: flex-start;
}
.step-container {
    flex-grow: 1;
}
.order-form {
    flex-grow: 1;
}

.brief-step-container {
    display: none;
}
.tab-content .tab-inside-content {
    padding: 16px;
}
.fade:not(.show) {
    display: none;
}
.form-row {
    display: flex;
    align-items: baseline;
}
.fieldset {
    border: 2px solid var(--border-color);
    padding: 10px 30px 30px;
    margin-bottom: 24px;
}
.fieldset-label {
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    font-size: 18px;
    font-weight: 700;
    float: none;
    width: auto;
    margin-bottom: 0;
}
.flex {
    display: flex;
}
.order-label {
    font-weight: 600;
}
.type-radio {
    flex-grow: 1;
    width: 50%;
}